{% extends 'store/base.html' %}

{% block title %}{{ product }}{% endblock %}

{% block content %}
    <h1>{{ product }}</h1>

    <div>
    <img src="/{{ product.image }}" width="300" />
    </div>

    <div>{{ product.description }}</div>
    <div>Price: ${{ product.price }}</div>
    <div>
        {% if product.stock > 0 %}
            Available
            <a href="/store/add_to_cart/{{ product.id }}"><button>Add to Cart</button></a>
        {% else %}
            Not Available
        {% endif %}
    </div>
{% endblock %}